.login-form {
  max-width: 100%;
  padding-top: 200px;
  padding-right:25%;
  padding-left: 25%;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.alert {
  padding-right: 25%;
  padding-left: 25%;
}
