.itemCode {
  text-align: center;
}
.itemName{
  text-align: center;
}
.itemCtn {
  border-width: 1px;
  border-style: solid;
  border-color: whitesmoke;
}
.itemBox {
  cursor: pointer;
  border-width: 1px 1px 1px 5px;
  background-color: white;
  border-color: transparent transparent gray #003152;
  border-style: solid;
  vertical-align: center;
  height: 100%;
  width: 100%;
}
.warehouseDescriptionCtn {
  cursor:  pointer;
  vertical-align: center;
  padding-bottom: 5px;
}
.warehouseRow {
  height: 50px;
  &.middle {
    border-width: 0 0 1px 0;
    border-color: transparent transparent #dbdbdb transparent;
    border-style: solid;
  }
}
.warehouseName {
  text-align: center;
  font-weight: bolder;
  color: #001528
}
