.appointment-profile-ctn {
  height: 100%
}
.appointment-profile-sub-ctn {
  height: 100%;
}
.field-name {
  font-weight: 700;
}
.treatments-ctn {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.treatment-card-ctn {
  border-radius: 2px;
  border-width: 1px;
  border-color: #282c34;
  border-style: solid;
  padding: 5px;
}
.timeline {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 3px;
}
.gallery {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 3px;
}
