@import './../../stylesheets/themes/main';

.tTitle {
  font-family: Roboto-Bold;
  color: $text-color;
  &.small {
    font-size: 15px;
  }
  &.medium {
    font-size: 20px;
  }
  &.big {
    font-size: 25px;
  }
}
