.antd-content {
  max-height: -webkit-calc(100vh - 64px);

}
.body-ctn{
  background: #FEFEFA;
  align-content: center;
  justify-content: center;
  padding: 2%;
  height: 100%;
  overflow-y: hidden;
}
.body-sub-ctn {
  height: 100%;
}
