.ant-layout-content{
  padding-right: 2%;
  padding-left: 2%;
  background: white;
  height: 100%;
}
.body{
  background: #FEFEFA;
  align-content: center;
  justify-content: center;
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  overflow-y: hidden;
}
