@import 'stylesheets/themes/_main.scss';
.sider {
  text-align: left;
  padding-top: 60px;
  font-family: Roboto-Medium;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #2F4A68;
}

.logo {
  height: 42px;
  width: 180px;
  background: rgba(255, 255, 255, 0.2);
  margin: 9px;
}



