$main-color: #001528;
$text-color: #000128;
$danger-color: #C05D4F;
$gray-background: #ECECF3;
@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(../../../src/assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url(../../../src/assets/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto-Medium'), url(../../../src/assets/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto-Thin'), url(../../../src/assets/fonts/Roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Black';
  src: local('Roboto-Black'), url(../../../src/assets/fonts/Roboto/Roboto-Black.ttf) format('truetype');
}
