@import 'stylesheets/themes/_main.scss';
.input {
  border-style: solid;
  border-width: 2px;
  border-color: $main-color;
  height: 40px;
  width: 80%;
  color: #003152;
  font-weight: 400;
  font-size: 20px;
  &.despcription {
    height: 80px;
    width: 100%;
  }
}
.input:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: #003152;
  font-weight: 200;
  font-size: 20px;
  vertical-align: top;
}

