@import 'stylesheets/themes/_main.scss';
.headerCtn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fefefe;
  color: #1b1716;
  font-family: Roboto-Medium;
  font-size: 17px;
}
.makeFormInput {
  width: 80%
}
